@import "tailwindcss";

:root {
  --primary: #af5a54;
  --secondary: #e4dfd0;
  --tertiary: #cbb491;

  --color-bg-primary: #efefef;
  --color-txt-primary: #171717;

  --color-bg-secondary: #dadada;
  --color-txt-secondary: #282828;
}

.dark {
  --color-bg-primary: #121212;
  --color-txt-primary: #ededed;

  --color-bg-secondary: #282828;
  --color-txt-secondary: #dadada;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-txt-primary);
}
