@import "tailwindcss";

@theme {
  --color-bgBase: #efefef;
  --color-txtBase: #121212;

  --color-bgSubtle: #d4d4d4;
  --color-txtSubtle: #3a3a3a;
}

.dark {
  --color-bgBase: #121212;
  --color-txtBase: #ededed;

  --color-bgSubtle: #2a2a2a;
  --color-txtSubtle: #bdbdbd;
}
